{% extends 'base.html.twig' %}

{% block body %}
<h1> Bienvenue dans ce blog </h1>

<p> Proident laboris cillum duis ex sunt sint fugiat incididunt proident proident velit. Sint velit in sint eiusmod. Velit ad reprehenderit non eu fugiat ullamco excepteur deserunt veniam incididunt non. Mollit aute proident labore magna ullamco deserunt est. Cupidatat laborum sit aliqua nulla sit velit elit velit ipsum voluptate adipisicing deserunt incididunt amet. </p>

<p> Amet reprehenderit qui tempor ipsum officia aliqua officia culpa dolor aute. Pariatur consequat cupidatat nisi culpa occaecat officia officia ut non nisi duis. Minim esse ad minim enim tempor. Fugiat ex nisi aliquip fugiat non amet non pariatur. Irure nostrud fugiat consectetur eu duis consectetur mollit consectetur non fugiat deserunt est. Pariatur tempor aliquip nisi quis eiusmod deserunt labore ex eiusmod ad. </p>

{% endblock %}